/*
 * For browser viewing:
 * load this style in Web publications (format: webpub)
 */

@import "./_variables";
@import "vfm/_index";
@import "o2project/_index";

/* for wide screen */
body {
  max-width: 800px;
  margin: 2rem auto 2rem;
}

/* highlight footnote */
.footnote {
  vertical-align: super;
  background-color: aliceblue;
  color: gray;

  a {
    word-break: break-all;
  }
}

/* and more... 🖋 */
