blockquote {
  padding: 0.5em 1em;
  margin: 1.5rem 0.5rem;
  border-radius: 0.2rem;
  background-color: $color-blockquote-background;
  color: $color-blockquote-text;

  :not(pre) > code {
    padding: 0;
    word-break: break-all;
  }
}

blockquote > h1 {
  font-size: inherit;
}
