.footnotes {
  font-size: 8pt;
  overflow-wrap: break-word;
}

.footnote-ref sup {
  background-color: $color--red-light;
}

.footnote-back {
  background-color: $color--red-light;
  font-weight: bold;
}
