// Syntax highlighting
// https://prismjs.com
@import 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css';

pre,
code {
  max-width: 100%;
}

pre code {
  padding: 0;
  // override to vivliostyle style definition
  white-space: pre-wrap !important;
  // override to vivliostyle style definition
  word-break: break-all !important;
}

code {
  padding: 0 4pt;
  background-color: $color--gray-light;
  white-space: pre-wrap;
}

figure[class^='language-'] {
  figcaption {
    width: 100%;
    margin: 0;
    background-color: $color--gray;
  }

  pre {
    margin: 0;
  }
}

.token {
  white-space: pre-line;
}
