@media print {
  :root {
    widows: 3;
    orphans: 3;
    hyphens: auto;
    font-size: 75%;
  }

  body {
    font-family: 'Noto Sans Japanese', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid;
    font-weight: bold;
  }

  tr,
  th,
  td {
    break-inside: avoid;
  }

  pre,
  code {
    font-family: '源ノ角ゴシック Code JP', monospace;
  }

  .footnote {
    float: footnote;
    text-align: left;
  }
}
