@media print {
  @font-face {
    font-family: 'Noto Sans Japanese';
    src: url('../fonts/Noto_Sans_JP/static/NotoSansJP-ExtraLight.otf') format('opentype');
    font-weight: 100;
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
    src: url('../fonts/Noto_Sans_JP/static/NotoSansJP-Light.otf') format('opentype');
    font-weight: 200;
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
    src: url('../fonts/Noto_Sans_JP/static/NotoSansJP-Regular.otf') format('opentype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
    src: url('../fonts/Noto_Sans_JP/static/NotoSansJP-Medium.otf') format('opentype');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
    src: url('../fonts/Noto_Sans_JP/static/NotoSansJP-Bold.otf') format('opentype');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
    src: url('../fonts/Noto_Sans_JP/static/NotoSansJP-Black.otf') format('opentype');
    font-weight: 900;
  }

  @font-face {
    font-family: 'Noto Serif Japanese';
    src: url('../fonts/Noto_Serif_JP/static/NotoSerifJP-ExtraLight.otf') format('opentype');
    font-weight: 100;
  }
  @font-face {
    font-family: 'Noto Serif Japanese';
    src: url('../fonts/Noto_Serif_JP/static/NotoSerifJP-Light.otf') format('opentype');
    font-weight: 200;
  }
  @font-face {
    font-family: 'Noto Serif Japanese';
    src: url('../fonts/Noto_Serif_JP/static/NotoSerifJP-Regular.otf') format('opentype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Noto Serif Japanese';
    src: url('../fonts/Noto_Serif_JP/static/NotoSerifJP-Medium.otf') format('opentype');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Noto Serif Japanese';
    src: url('../fonts/Noto_Serif_JP/static/NotoSerifJP-SemiBold.otf') format('opentype');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Noto Serif Japanese';
    src: url('../fonts/Noto_Serif_JP/static/NotoSerifJP-Bold.otf') format('opentype');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Noto Serif Japanese';
    src: url('../fonts/Noto_Serif_JP/static/NotoSerifJP-Black.otf') format('opentype');
    font-weight: 900;
  }

  @font-face {
    font-family: '源ノ角ゴシック Code JP';
    src: url('../fonts/SourceHanCodeJP/SourceHanCodeJP-ExtraLight.otf') format('opentype');
    font-weight: 100;
  }
  @font-face {
    font-family: '源ノ角ゴシック Code JP';
    src: url('../fonts/SourceHanCodeJP/SourceHanCodeJP-Light.otf') format('opentype');
    font-weight: 200;
  }
  @font-face {
    font-family: '源ノ角ゴシック Code JP';
    src: url('../fonts/SourceHanCodeJP/SourceHanCodeJP-Normal.otf') format('opentype');
    font-weight: 300;
  }
  @font-face {
    font-family: '源ノ角ゴシック Code JP';
    src: url('../fonts/SourceHanCodeJP/SourceHanCodeJP-Regular.otf') format('opentype');
    font-weight: 400;
  }
  @font-face {
    font-family: '源ノ角ゴシック Code JP';
    src: url('../fonts/SourceHanCodeJP/SourceHanCodeJP-Medium.otf') format('opentype');
    font-weight: 500;
  }
  @font-face {
    font-family: '源ノ角ゴシック Code JP';
    src: url('../fonts/SourceHanCodeJP/SourceHanCodeJP-Bold.otf') format('opentype');
    font-weight: 700;
  }
  @font-face {
    font-family: '源ノ角ゴシック Code JP';
    src: url('../fonts/SourceHanCodeJP/SourceHanCodeJP-Heavy.otf') format('opentype');
    font-weight: 900;
  }

  :root {
    widows: 3;
    orphans: 3;
    hyphens: auto;
    font-size: 75%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid;
  }

  tr,
  th,
  td {
    break-inside: avoid;
  }

  .footnote {
    float: footnote;
    text-align: left;
  }
}
