html {
  // counter
  counter-reset: figure;
}

img {
  max-width: 100%;
}

figure {
  figcaption {
    text-align: center;

    // counter
    counter-increment: figure;

    &::before {
      margin-right: 1rem;
      content: 'Figure' counter(figure) '.';

      :root:lang(ja) & {
        content: 'å›³' counter(figure) '.';
      }
    }
  }
}
