@import './_index';

section {
  position: absolute;
  bottom: 0;
  left: 0;

  h1 {
    padding: 0;
    margin: 12pt 0;
    background-color: inherit;
    color: inherit;
  }

  p {
    margin: 1.5rem 0;
    text-indent: 0 !important;
  }

  dl {
    margin-left: 1.5rem;
  }

  dl > div {
    display: table;

    dt,
    dd {
      display: table-cell;
      margin: 0;
    }

    dt {
      width: 5em;
    }
  }
}
