@import './foundation/_variables';
@import './_index';

body {
  text-align: center;
}

section > {
  h1 {
    margin-top: 50%;
  }

  h2 {
    border: none;
    font-weight: normal;
  }

  h3 {
    padding-top: 12pt;
    border-top: 2px solid $color-headings-border;
    border-left: none;
    font-weight: normal;
  }
}
