@import './foundation/_variables';
@import './foundation/_base';

body {
  box-sizing: border-box;
  min-height: 100%;
}

[role='doc-cover'] {
  header {
    padding: 24pt 0;
    border-color: $color-book-title-border;
    border-style: solid;
    border-width: 1pt 0;
    margin-top: 50%;
  }

  h1 {
    margin: 0;
    text-align: center;
  }

  h2 {
    margin: 0;
    font-weight: normal;
    text-align: center;
  }

  p {
    margin-top: 12pt;
    text-align: center;
  }

  small {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10pt;
  }
}
