/*
 * For PDF publications or Vivliostyle Viewer:
 * load this style in PDF publicatoins (format: pdf)
 */

@import './foundation/_variables';

// JIS A5 size
$page-width: 148mm;
$page-height: 210mm;
$page-bleed: 3mm;

@import './foundation/_base';
@import './layout/_index';
@import './layout/media/print_media';
@import './object/index';
