@import './foundation/_variables';
@import './foundation/_base';

@page {
  counter-increment: introduction-page;
}

@page :first {
  counter-reset: introduction-page 0;
}

@page :left {
  @bottom-left {
    content: counter(introduction-page, lower-roman);
    border-left: none;
  }
}

@page :right {
  @bottom-right {
    content: counter(introduction-page, lower-roman);
    border-right: none;
  }
}

h1 {
  display: none;
}

h2 {
  text-indent: 0;
}

nav#toc,
nav[role='doc-toc'] {
  break-before: page;

  li a {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    color: currentColor;
    text-decoration: none;
  }

  li a::before {
    content: '';
    flex: auto;
    order: 1;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-bottom: dotted 1px;
  }

  li a::after {
    content: target-counter(attr(href), p);
    align-self: flex-end;
    order: 2;
    text-align: right;
  }
}
