body > section {
  margin: 10px auto;
}

section > {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid;
    line-height: 1.5;
  }

  h1 {
    margin: 12pt auto;
    font-size: 20pt;
  }

  h2 {
    margin: 12pt auto;
    font-size: 18pt;
  }

  h3 {
    margin: 10pt auto;
    font-size: 16pt;
  }

  h4 {
    margin: 8pt auto;
    font-size: 14pt;
  }

  h5,
  h6 {
    margin: 8pt auto;
    font-size: 12pt;
  }
}

section.title {
  color: $color--red;
}
