body > section {
  margin: 10px auto;
}

section > {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid;
    line-height: 1.5;
  }

  h1 {
    padding: 12pt;
    margin: 0 auto 12pt;
    background-color: $color-headings-background;
    color: $color-heading-text;
    font-size: 20pt;
  }

  h2 {
    padding-bottom: 4pt;
    margin: 12pt auto;
    border-bottom: 2px solid $color-headings-border;
    font-size: 18pt;
  }

  h3 {
    padding: 4pt 0 4pt 4pt;
    margin: 10pt auto;
    font-size: 16pt;
  }

  h4 {
    margin: 8pt auto;
    font-size: 14pt;
  }

  h5,
  h6 {
    margin: 8pt auto;
    font-size: 12pt;
  }
}
